{% extends "base_generic.html" %}

{% block content %}
    <h1>Detail Page</h1>
    <p>{{ character.name }}</p>

    <h3>HomeWorld:</h3>
    <p>{{ character.home_world }}</p>
    <p><a href="{% url "character-home-world" character.pk %}">choose manually home world</a></p>
    <form class="col" action="{% url 'choose-random-home-world' character.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">
                Random choose
            </button>
    </form>



{% endblock %}
