<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/4/42/Adobe_Acrobat_DC_logo_2020.svg" sizes="any" type="image/svg+xml">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% block title %}
        <title>Character Builder</title>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Character</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profiles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resumes</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <a href="{% url 'resume_profiles' %}" class="link-dark">{{ user.get_username }}</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-success mx-2" type="submit">logout</button>
                    </form>
                {% else %}
                    <div class="btn-group">
                        <a href="{% url 'register' %}" class="btn btn-outline-success" role="button">Sing up</a>
                        <a href="{% url 'login' %}" class="btn btn-outline-success" role="button">Sing in</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container mt-3">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer>
    {% block footer %}

    {% endblock %}
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
